---
import Nav from "../../components/cabinDetail/Nav.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Question from "../../components/cabinDetail/Question.astro";
import Cabins from "../../components/cabinDetail/Cabins.astro";
import Header from "../../components/cabinDetail/Header.astro";
import HeaderSvelte from "../../components/cabinDetail/Header.svelte";

import { getAllCabins } from "../../api/cabins/getAllCabins";
import type { Cabin } from "../../api/cabins/getCabin";
import BasicInfo from "../../components/cabinDetail/BasicInfo.astro";
import Description from "../../components/cabinDetail/Description.astro";
import Amenities from "../../components/cabinDetail/Amenities.astro";
import BookingForm from "../../components/cabinDetail/BookingForm.astro";
import OtherInfo from "../../components/cabinDetail/OtherInfo.astro";
import Map from "../../components/Map.astro";

export async function getStaticPaths() {
  const cabins = await getAllCabins();
  return cabins.map((cabin) => ({
    params: {
      name: cabin.name,
    },
    props: {
      cabin,
    },
  }));
}

const { name } = Astro.params as { name: string };
const cabin = Astro.props.cabin as Cabin;
---

<BaseLayout title={name}>
  <Nav />
  <HeaderSvelte
    name={cabin.name}
    state={cabin.state}
    city={cabin.city}
    fullGallery={cabin.gallery}
    client:load
  />
  <div class="wrapper">
    <div class="info">
      <BasicInfo cabin={cabin} />
      <svg
        width="100%"
        height="2"
        viewBox="0 0 716 2"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line
          y1="1.0167"
          x2="716"
          y2="1.0167"
          stroke="#2F2D27"
          stroke-width="0.2"></line>
      </svg>
      <Description cabin={cabin} />
      <svg
        width="100%"
        height="2"
        viewBox="0 0 716 2"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line
          y1="1.0167"
          x2="716"
          y2="1.0167"
          stroke="#2F2D27"
          stroke-width="0.2"></line>
      </svg>
      <Amenities cabin={cabin} />
    </div>
    <BookingForm cabin={cabin} />
  </div>
  <OtherInfo cabin={cabin} />
  <Map label={cabin.map.label} url={cabin.map.url} />
  <Cabins />
</BaseLayout>

<style>
  .wrapper {
    display: flex;
    gap: 32px;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 24px 40px;
    gap: 16px;
  }
</style>
