---
import Nav from "../../components/cabinDetail/Nav.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Cabins from "../../components/cabinDetail/Cabins.astro";
import Header from "../../components/cabinDetail/Header.astro";

import cabins from "../../data/cabins.json";
import BasicInfo from "../../components/cabinDetail/BasicInfo.astro";
import Description from "../../components/cabinDetail/Description.svelte";
import Amenities from "../../components/cabinDetail/Amenities.astro";

import OtherInfo from "../../components/cabinDetail/OtherInfo.astro";
import Map from "../../components/Map.astro";
import Footer from "../../components/Footer.astro";
import HostfullyWidget from "../../components/HostfullyWidget.astro";
import type { Cabin } from "../../types/cabin";
import HorizontalLine from "../../components/svgs/HorizontalLine.astro";

export async function getStaticPaths() {
  return cabins.map((cabin) => ({
    params: {
      name: cabin.name,
    },
    props: {
      cabin,
    },
  }));
}

const { name } = Astro.params;
const cabin = Astro.props.cabin as Cabin;
---

<BaseLayout title={name}>
  <Nav />
  <Header cabin={cabin} fullGallery={cabin.gallery} />
  <div class="wrapper">
    <div class="info">
      <BasicInfo cabin={cabin} />
      <HorizontalLine />
      <Description cabin={cabin} client:load />
      <HorizontalLine />
      <Amenities cabin={cabin} />
    </div>
    <HostfullyWidget propertyId={cabin.uid} />
  </div>
  <OtherInfo cabin={cabin} />
  <!-- TODO: HANDLE UNDEFINED -->
  <Map label={cabin.map?.label} url={cabin.map?.url} />
  <Cabins />
  <Footer />
</BaseLayout>

<style>
  .wrapper {
    display: flex;
    gap: 32px;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3em;
    margin-bottom: 3em;
  }

  /* RESPONSIVE */
  @media only screen and (max-width: 768px) {
    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;
    }
  }
</style>
